.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
  }
  

  
  .input-item {
    width: 100%;
    color: black;
    max-width: 400px;
  }
  
  .submit-button {
    width: 100%;
    max-width: 400px;
  }
  
  ion-item {
    --background: #ffffff;
    --border-radius: 8px;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  ion-button {
    --background: #4caf50;
    --color: white;
    --border-radius: 8px;
    font-weight: bold;
  }
  
  ion-text {
    font-size: 0.9rem;
    background-color: white;
    color: #f44336;
    margin-top: 8px;
    text-align: center;
  }

ion-grid{
    margin: 15px;
}

ion-header {
    --background: black; /* Cambia el color de fondo */
    --color: #ffffff; /* Cambia el color del texto */
  
    ion-toolbar {
      --background: black; /* También afecta el fondo del toolbar */
      --color: #ffffff; /* Cambia el color del texto del título y botones */
    }
  }

  ion-content{
    --background: none; /* Elimina colores predefinidos de Ionic */
    background-image: url('/assets/images/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .image-card {
    background-color: #fff8dc;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }