<ion-item>
  <ion-label>{{ 'SET_SELECTOR.SET' | translate | capitalize}}</ion-label>
  <ion-select placeholder="{{ 'SET_SELECTOR.ALL_CARDS' | translate | capitalize}}" [(ngModel)]="selectedSetId" (ionChange)="onSetSelected($event)">
    <ion-select-option [value]="-1">
      {{ 'SET_SELECTOR.ALL_CARDS' | translate | capitalize}}
    </ion-select-option>
    <ion-select-option *ngFor="let set of (sets$ | async) " [value]="set.id">
      {{ set.name }}
    </ion-select-option>
  </ion-select>
</ion-item>