ion-grid {
    --ion-grid-padding: 10px; /* Opcional: ajustar espaciado entre elementos */
  }
  
  ion-row {
    justify-content: center; /* Centra las cartas si el número es impar */
  }
  
  ion-card {
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; /* Para mantener el botón de eliminar */
  }
  
  ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* O usa contain si prefieres no recortar */
  }

  ion-content {
    --background: none; /* Elimina el fondo oscuro predefinido */
  
  }

  #back{
    align-self: center;
  }

  #container-noOpen {
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  text-align: center; /* Centra texto e imágenes en los elementos secundarios */

  ion-card {
    width: 450px; /* Ancho personalizado para la tarjeta */
    height: 650px; /* Altura personalizada para la tarjeta */
    display: flex;
    justify-content: center; /* Centra el contenido dentro de la tarjeta */
    align-items: center;

    ion-img {
      width: 100%; /* Imagen ajustada al ancho de la tarjeta */
      height: 100%; /* Imagen ajustada a la altura de la tarjeta */
      object-fit: cover; /* Asegura que la imagen se escale sin deformarse */
    }
  }

  ion-button {
    margin-top: 16px; /* Espacio entre el botón y la tarjeta */
    align-self: center; /* Asegura que el botón esté centrado */
  }
}