<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'LOGIN.LOGIN' | translate | capitalize}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="true">
  <div class="login-container" >
    <ion-card class="login-card">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-justify-content-center">
              <ion-text class="card-title">
                <h1>{{ 'LOGIN.LOGIN' | translate | capitalize }}</h1>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
    
        
        <ion-item class="input-item">
          <ion-input labelPlacement="floating" label="{{ 'USER.EMAIL' | translate | capitalize }}" type="email" formControlName="email" autocomplete="off" required></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-input labelPlacement="floating" label="{{ 'USER.PASSWORD' | translate | capitalize }}" type="password" formControlName="password" required></ion-input>
        </ion-item>
    
        <ion-text class="input-error" color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <p *ngIf="email?.errors?.['required']">{{ 'REGISTER.ERRORS.EMAIL_REQUIRED' | translate | capitalize }}</p>
          <p *ngIf="email?.errors?.['email']">{{ 'REGISTER.ERRORS.EMAIL_INCORRECT' | translate | capitalize }}</p>
        </ion-text>
        <ion-text class="input-error" color="danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <p *ngIf="password?.errors?.['required']">{{ 'REGISTER.ERRORS.PASSWORD_REQUIRED' | translate | capitalize }}</p>
          <p *ngIf="password?.errors?.['passwordStrength']">{{ 'REGISTER.ERRORS.PASSWORD_INCORRECT' | translate | capitalize }}</p>
        </ion-text>
    
        <ion-button class="submit-btn" expand="block" type="submit" [disabled]="loginForm.invalid">
          {{ 'LOGIN.LOGIN' | translate | capitalize }}
        </ion-button>
      </form>
    </ion-card>
   
  </div>
</ion-content>

