<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'LOGIN.LOGIN' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="true">
  <div class="login-container">
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col style="display:flex" class="ion-justify-content-center">
            <ion-text><h1>{{ 'LOGIN.LOGIN' | translate }}</h1></ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col style="display:flex" class="ion-justify-content-center ion-align-items-center">
            {{ 'LOGIN.ACCOUNT' | translate }}<ion-button style="text-transform:none" (click)="onRegister()" fill="clear">{{ 'LOGIN.REGISTER' | translate }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-input labelPlacement="floating" label="{{ 'USER.EMAIL' | translate }}" type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="floating" label="{{ 'USER.PASSWORD' | translate }}" type="password" formControlName="password" required></ion-input>
      </ion-item>
      <ion-text class="input-error" color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <p *ngIf="email?.errors?.['required']">{{ 'LOGIN.ERRORS.EMAIL_REQUIRED' | translate }}</p>
        <p *ngIf="email?.errors?.['email']">{{ 'LOGIN.ERRORS.EMAIL_INCORRECT' | translate }}</p>
      </ion-text>
      <ion-text class="input-error" color="danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <p *ngIf="password?.errors?.['required']">{{ 'LOGIN.ERRORS.PASSWORD_REQUIRED' | translate }}</p>
      </ion-text>
      <ion-button style="text-transform:none" expand="block" type="submit" [disabled]="loginForm.invalid">
        {{ 'LOGIN.LOGIN' | translate }}
      </ion-button>
    </form>
  </div>
</ion-content>

