<ion-app>
  <!-- Menú -->
  <ion-menu *ngIf="isMobile" #menu contentId="main-content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'MENU.TITLE' | translate | capitalize}}</ion-title>
        <ion-fab slot="end">
          <ion-fab-button size="small">
            <ion-icon name="language-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button (click)="changeLanguage('es')" [color]="currentLang === 'es' ? 'primary' : 'medium'">
              <ion-text>ES</ion-text>
            </ion-fab-button>
            <ion-fab-button (click)="changeLanguage('en')" [color]="currentLang === 'en' ? 'primary' : 'medium'">
              <ion-text>EN</ion-text>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="menu.close()"  *ngIf="(authSvc.authenticated$ | async)" routerLink="/profile" routerDirection="root">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" *ngIf="!(user$ | async).picture?.url"/>
            <img alt="Silhouette of a person's head" [src]="(user$ | async).picture?.url" *ngIf="(user$ | async).picture?.url"/>
          </ion-avatar>
          <p>{{(authService.user$ | async)?.username}}</p>
        </ion-item>
        <ion-item (click)="menu.close()" routerLink="/about" routerDirection="root" *ngIf="!(authSvc.authenticated$ | async)">
          {{ 'MENU.ABOUT' | translate | capitalize}}
        </ion-item>
        <ion-item (click)="menu.close()" routerLink="/login" routerDirection="root" *ngIf="!(authSvc.authenticated$ | async)">
          {{ 'LOGIN.LOGIN' | translate | capitalize}}
        </ion-item>
        <ion-item (click)="menu.close()" routerLink="/register" routerDirection="root" *ngIf="!(authSvc.authenticated$ | async)">
          {{ 'LOGIN.REGISTER' | translate | capitalize}}
        </ion-item>
        <ion-item (click)="menu.close()" routerLink="/home" routerDirection="root" *ngIf="(authSvc.authenticated$ | async)">
          {{ 'MENU.HOME' | translate | capitalize}}
        </ion-item>
        <ion-item (click)="menu.close()"  *ngIf="(authSvc.authenticated$ | async)" routerLink="/cards" routerDirection="root">
          {{ 'MENU.CARDS' | translate | capitalize}}
        </ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)" routerLink="/my-cards" routerDirection="root">
          {{ 'MENU.MYCARDS' | translate | capitalize}}
        </ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)" routerLink="/packs" routerDirection="root">
          {{ 'MENU.PACKS' | translate | capitalize}}
        </ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)"  (click)="logout()" button>
          <ion-icon name="log-out-outline" size="medium" color="danger"></ion-icon>
          {{ 'MENU.LOGOUT' | translate | capitalize}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

    <!-- Barra superior para escritorio -->
    <ion-header *ngIf="!isMobile" [translucent]="true">
      <ion-toolbar>
        <ion-title *ngIf="!(authSvc.authenticated$ | async)">Pokémon TCG</ion-title>
          <ion-item  *ngIf="(authSvc.authenticated$ | async)" routerLink="/profile" routerDirection="root" class="avatar">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" *ngIf="!(user$ | async).picture?.url"/>
              <img alt="Silhouette of a person's head" [src]="(user$ | async).picture?.url" *ngIf="(user$ | async).picture?.url"/>
            </ion-avatar>
            <p>{{(authService.user$ | async)?.username}}</p>
          </ion-item>
        
        <ion-buttons slot="end">
          <ion-button class="language">
            <ion-item lines="none" class="language">
              <ion-label>
                <ion-icon name="language-outline" slot="start"></ion-icon>
                @if(currentLang == 'es'){
                  Español
                }@else {
                  English
                }
                
              </ion-label>
              <ion-select [value]="currentLang" interface="popover" (ionChange)="changeLanguage($event.detail.value)">
                <ion-select-option value="es">ES</ion-select-option>
                <ion-select-option value="en">EN</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-button>
          <ion-button routerLink="/about" routerLinkActive="selected"  *ngIf="!(authSvc.authenticated$ | async)">{{ 'MENU.ABOUT' | translate | capitalize }}</ion-button>
          <ion-button routerLink="/login" routerLinkActive="selected"  *ngIf="!(authSvc.authenticated$ | async)">{{ 'LOGIN.LOGIN' | translate | capitalize }}</ion-button>
          <ion-button routerLink="/register" routerLinkActive="selected"  *ngIf="!(authSvc.authenticated$ | async)">{{ 'LOGIN.REGISTER' | translate | capitalize }}</ion-button>
          <ion-button routerLink="/home" routerLinkActive="selected"  *ngIf="(authSvc.authenticated$ | async)">{{ 'MENU.HOME' | translate | capitalize }}</ion-button>
          <ion-button routerLink="/cards" *ngIf="(authSvc.authenticated$ | async)" routerLinkActive="selected">
            {{ 'MENU.CARDS' | translate | capitalize }}
          </ion-button>
          <ion-button routerLink="/my-cards" *ngIf="(authSvc.authenticated$ | async)" routerLinkActive="selected">
            {{ 'MENU.MYCARDS' | translate | capitalize }}
          </ion-button>
          <ion-button routerLink="/packs" *ngIf="(authSvc.authenticated$ | async)" routerLinkActive="selected">
            {{ 'MENU.PACKS' | translate | capitalize }}
          </ion-button>
          <ion-button *ngIf="(authSvc.authenticated$ | async)" (click)="logout()" color="danger">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

  <!-- Contenido principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
