ion-toolbar {
    position: relative;
    --background: none;
    
    ion-fab {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
  
      ion-fab-list {
        margin-right: 55px;
        
        ion-fab-button {
          --background: var(--ion-color-light);
          --color: var(--ion-color-dark);
          
          &.ion-color-primary {
            --background: var(--ion-color-primary);
            --color: var(--ion-color-primary-contrast);
          }
        }
      }
    }
  }


  
  ion-header {
    --background: none;
    background-color: black;
    ion-buttons ion-button {
      margin: 0 10px;
    }
  }

  ion-button.selected {
    --background: var(--ion-color-primary); /* Cambiar color de fondo */
    --color: white; /* Cambiar color de texto */
    border-radius: 8px; /* Opcional: personalizar bordes */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Opcional: sombra */
  }

.avatar{
  width: 150px;
  --background: none;
  background-color: black;
}

.language{
  --background: none;
  background-color: black;
}


  