<ion-app>
  <!-- Menú -->
  <ion-menu #menu contentId="main-content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'MENU.TITLE' | translate }}</ion-title>
        <ion-fab slot="end">
          <ion-fab-button size="small">
            <ion-icon name="language-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button (click)="changeLanguage('es')" [color]="currentLang === 'es' ? 'primary' : 'medium'">
              <ion-text>ES</ion-text>
            </ion-fab-button>
            <ion-fab-button (click)="changeLanguage('en')" [color]="currentLang === 'en' ? 'primary' : 'medium'">
              <ion-text>EN</ion-text>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="menu.close()"  *ngIf="(authSvc.authenticated$ | async)" routerLink="/profile" routerDirection="root">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" *ngIf="!user?.picture?.url"/>
            <img alt="Silhouette of a person's head" [src]="user?.picture?.url" *ngIf="user?.picture?.url"/>
          </ion-avatar>
          <p>{{user?.username}}</p>
        </ion-item>
        <ion-item (click)="menu.close()" routerLink="/home" routerDirection="root">
          {{ 'MENU.HOME' | translate }}
        </ion-item>
        <ion-item (click)="menu.close()"  *ngIf="(authSvc.authenticated$ | async)" routerLink="/cards" routerDirection="root">
          {{ 'MENU.CARDS' | translate }}
        </ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)" routerLink="/my-cards" routerDirection="root">
          {{ 'MENU.MYCARDS' | translate }}
        </ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)" routerLink="/packs" routerDirection="root">
          {{ 'MENU.PACKS' | translate }}
        </ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)"  (click)="logout()" button>
          {{ 'MENU.LOGOUT' | translate }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
