<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'MENU.HOME' | translate | capitalize}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-image: url('/assets/images/PokemonTCG.jpg'); background-size: cover; background-position: center;">

  <div class="home-container">
    <div class="home-content">
      <p>
        <span>{{ 'HOME.TEXT1' | translate}}</span><br>
        <span>{{ 'HOME.TEXT2' | translate}}</span>
      </p>
      <ion-button expand="block" routerLink="/packs" class="get-cards-button">
        {{ 'HOME.BUTTON' | translate | capitalize}}
      </ion-button>
    </div>
  </div>

</ion-content>