<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ mode === 'edit' ? ('CARD.EDIT' | translate | capitalize) : ('CARD.NEW' | translate | capitalize) }}
    </ion-title>
    <ion-buttons slot="end" *ngIf="isMobile">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-circle-outline" color="green"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="form-modal" [fullscreen]="true">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>

        
        <ion-col size="12" size-md="8">
          <ion-list>
            <!-- Name -->
            <ion-item class="styled-input">
              <ion-input
                [label]="'CARD.NAME' | translate | capitalize"
                label-placement="stacked"
                type="text"
                formControlName="name"
                [placeholder]="'CARD.NAME_PLACEHOLDER' | translate | capitalize">
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
              <p *ngIf="name?.errors?.['required']">{{ 'CARD.ERRORS.NAME_REQUIRED' | translate | capitalize }}</p>
              <p *ngIf="name?.errors?.['minlength']">{{ 'CARD.ERRORS.NAME_MIN_LENGTH' | translate | capitalize }}</p>
            </ion-text>

            <!-- Number -->
            <ion-item class="styled-input">
              <ion-input
                [label]="'CARD.NUMBER' | translate | capitalize"
                label-placement="stacked"
                type="number"
                formControlName="number"
                [placeholder]="'CARD.NUMBER_PLACEHOLDER' | translate | capitalize">
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="number?.invalid && (number?.dirty || number?.touched)">
              <p *ngIf="number?.errors?.['required']">{{ 'CARD.ERRORS.NUMBER_REQUIRED' | translate | capitalize }}</p>
            </ion-text>

            
            <ion-item class="styled-input">
              <ion-select
                [label]="'CARD.TYPE' | translate"
                label-placement="stacked"
                formControlName="type"
                [placeholder]="'CARD.TYPE_PLACEHOLDER' | translate | capitalize">
                <ion-select-option *ngFor="let type of types" [value]="type">{{ type }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="styled-input">
              <ion-select
                [label]="'CARD.RARITY' | translate | capitalize"
                label-placement="stacked"
                formControlName="rarity"
                [placeholder]="'CARD.RARITY_PLACEHOLDER' | translate | capitalize">
                <ion-select-option *ngFor="let rarity of raritys" [value]="rarity">{{ rarity }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="styled-input">
              <ion-select
                [label]="'CARD.SUPERTYPE' | translate | capitalize"
                label-placement="stacked"
                formControlName="superType"
                [placeholder]="'CARD.SUPERTYPE_PLACEHOLDER' | translate | capitalize">
                <ion-select-option *ngFor="let superType of superTypes" [value]="superType">{{ superType }}</ion-select-option>
              </ion-select>
            </ion-item>

            <!-- Set Selector -->
            <ion-item class="styled-input">
              <ion-label position="stacked">{{ 'CARD.SET' | translate | capitalize }}</ion-label>
              <app-search-set-selectable formControlName="setId"></app-search-set-selectable>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size="12" size-md="4" class="ion-text-center">
          <ion-card class="image-card">
            <ion-card-content>
              <app-picture-selectable formControlName="picture"></app-picture-selectable>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Submit Button -->
    <div class="form-footer ion-padding">
      <ion-button expand="block" type="submit" [disabled]="!formGroup.valid || !formGroup.dirty" class="submit-btn">
        {{ mode === 'edit' ? ('PROFILE.UPDATE' | translate | capitalize) : ('SET.CREATE' | translate | capitalize) }}
      </ion-button>
    </div>
  </form>
</ion-content>
